/******* GENERAL *****/
*{
	margin:0;
	padding:0;
	font-size: 100%;
	border-collapse: collapse;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color:black;
	/*vertical-align: baseline;*/
}

a:hover{
	text-decoration: none;

}

body{
	margin:0;
	padding:0;
}

@font-face {
    font-family: "Neutra-Text";
    src: url(../NeutraText-LightAlt.ttf) format("truetype");
}

.hidden{
	display: none;
}

a:hover, a > li:hover{
	text-decoration: underline;
}

h1{
	text-align: center;
	font-family: 'Neutra-Text', sans-serif;

	font-size: 2.7rem;

	color:#D4AF37;	
	padding:0 0.8em;

}

/***********Nav*/

nav{
	background-color: white;
	z-index: 5;
	position: sticky;
	width:100%;
	top:0;
	left:0;
	box-shadow: 2px 0px 4px black;

	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;

}



ul#nav{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;

	padding:0 0.6em;

}

ul#nav li{

	text-align:center;
	font-family: 'Work Sans', sans-serif;
	font-size: 150%;
	padding:0 1.2em;

}


li.selected{
	color:#D4AF37; 
	font-size: 1.1em;
	border-bottom: 2px solid #D4AF37;
}

li.selected:hover{
	text-decoration: none;
}

.content{
	background-color: white;
	padding:2% 0;
}

section{
	position:relative;
}

h2{
	font-family: "Neutra-Text";
	font-size:4em;
	color:#D4AF37;
	border-bottom: 2px solid #D4AF37;
	padding:1.5% 0;
	margin-bottom:1%;
}
h3{
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	color:white;
	width:90%;
	margin:0;
	padding-left:1%;
	background-color:rgba(0, 0, 0, 0.7);
	text-align: left;

	display: inline-block;
/*	height: 8vh;
*/	line-height: 8vh;
}

p{
	width:70%;
	margin:auto;
	font-family: "Kanit",sans-serif;
	font-weight: bold;
	font-size: 1.8em;
}

/*********** HEADER  ************/

header{
	position:sticky;
	top:0;
	left:0;
	z-index: -1;
	height:100vh;
	overflow: hidden;
}



header video, header .headerImg{
	width:100%;
	height:100vh;
	
	object-fit: fill;
	background-color: black;
	overflow: hidden;

}

/*For pages with text over the image*/

.over{
	width:100%;
	height:100vh;
	position: absolute;
	top: 0;
	left:0;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.6);
	z-index: 1;
}

h1.title{
	width:100%;
	text-align: center;
	font-family: 'Neutra-Text', sans-serif;
	color:white;
	font-size: 80px;
	letter-spacing: 20px;
	line-height: 65vh;
}

p.credit{
	position: absolute;
	bottom:2%;
	left:1%;
	color:white;
	z-index: 2;
	font-size: 1em;
}

/*Image Overlay*/

.image img{
	width:100%;
}

.image{
	position:relative;
	display: inline-block;
	transition: all .2s ease-in-out;
}



.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:99%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    top:44%;
    text-align:center;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
   /* letter-spacing: 2px;*/
    -moz-box-sizing:border-box;
}
.image:hover{
	z-index: 1;
	transform: scale(1.04);
}
.image:hover:after, .image:hover:before {
    opacity:1;
}

/***********/

footer{
/*	margin-top: 40px;
*/	background-color:rgb(102, 102, 102);
	text-align: center;
}

.icons{
	margin-left: 10px;
	font-size: 40px;
	color:white;
	letter-spacing: 20px;
	padding:10px 0px;
}
.icons i{
	color:white;
	opacity: 0.7;
}
.icons i:hover{
	opacity: 1;
}

.copy{
	font-size: 1.2em;
}

footer p{
	font-size: 1.2em;
}


/****************************/
/*******MAIN PAGE************/
/****************************/


section.board div.members{
	width:90%;
	margin:auto;

}

div.members{
	display: flex;
	width:100%;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;

	align-items: flex-start;
}

div.members .image{
	width:24%;
}


section.links-to-dancer-page .row{
	display: flex;
	width:100%;
	align-items: center;
	justify-content: center;
	align-content: center;
}

section.links-to-dancer-page img{
	width:100%;
}

/****************************/
/*******dancer page**********/
/****************************/

div.dancer-group{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	align-items: baseline;

	width:100%;
	margin:auto;
}

article.dancer{
	display: inline-block;
	width:20%;

}


div.bio{
	display: none;
}

div.bio p{
	font-size: 1.2em;
}

div.bio i.closeButton{
	position: relative;
	display: inline-block;
	width:10%;
	margin:0;
	/*background-color: red;*/

	text-align: center;
	font-size: 1.5em;
	color:white;

	background-color:rgba(0, 0, 0, 0.7);
	line-height: 8vh;
}

div.bio i.closeButton:hover{
	cursor: pointer;
	color:#D4AF37;
}

article.dancer.selected{
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;

}

article.dancer.selected div.bio{
	display: inline-block;
	width: 80%;
}

article.dancer.selected div.image{
	display: inline-block;
	width:20%;
}

article.dancer.selected div.image:hover{
	transform: none;
}

article.dancer.selected div.image:hover:after, article.dancer.selected div.image:hover:before {
    opacity:0;
}








